
<!-- <div class="parallax-container">
      <div class="parallax"><img src="images/bg.png"></div>
</div> -->

<!-- Add icon library -->
<head>
	{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;" >
  <img src="{% static  'images/deepak.jpg' %}" alt="John" style="width:100%">
  <h1>Deepak Vidhur Damera</h1>
  <p class="title">Programmer and Movie Fanatic</p>
  <p>Western Kentucky University</p>
  <a href="#" style="text-decoration: none;
  font-size: 22px;
  color: black;"><i class="fa fa-dribbble"></i></a> 
  <a href="www.linkedin.com/in/deepak-damera-18bb25113/" style="text-decoration: none;
  font-size: 22px;
  color: black;"><i class="fa fa-linkedin"></i></a> 
  <a href="www.facebook.com/crowndown" style="text-decoration: none;
  font-size: 22px;
  color: black;"><i class="fa fa-facebook"></i></a> 
  <p><button  style = "border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;">Contact</button></p>
</div>